[Desktop Entry]
Type=Application
Version=1.0
Name=Evernote
Comment=Note Manager
Exec=/home/thawes/programs/share/nativefier/evernote-linux-x64/evernote
Icon=evernote
Terminal=false
Categories=Productivity
