[Desktop Entry]
Type=Application
Version=1.0
Name=PureCloud Chat
Comment=PureCloud Chat
Exec=/home/thawes/.local/share/nativefier/PureCloudChat-linux-x64/PureCloudChat --no-sandbox
Icon=purecloud
Terminal=false
Categories=Productivity
