[Desktop Entry]
Type=Application
Version=1.0
Name=PureCloud Chat
Comment=PureCloud Chat
Exec=/home/thawes/programs/share/nativefier/PureCloudChat-linux-x64/PureCloudChat
Icon=purecloud
Terminal=false
Categories=Productivity
