[Desktop Entry]
Type=Application
Version=1.0
Name=Logos
Comment=Bible Study Software
Exec=/home/thawes/.local/share/nativefier/Logos-linux-x64/Logos
Icon=logos
Terminal=false
Categories=Education
