[Desktop Entry]
Type=Application
Version=1.0
Name=Element
Comment=Chat Client
Exec=/home/thawes/programs/share/nativefier/Element-linux-x64/Element
Icon=element-web
Terminal=false
Categories=Productivity
