[Desktop Entry]
Type=Application
Version=1.0
Name=Oreilly Online
Comment=Oreilly Books Online
Exec=/home/thawes/programs/share/nativefier/Oreilly-linux-x64/Oreilly
Icon=oreilly
Terminal=false
Categories=Education
