[Desktop Entry]
Type=Application
Version=1.0
Name=Gmail
Comment=Gmail Web Mail Client
Exec=/home/thawes/.local/share/nativefier/Gmail-linux-x64/Gmail
Icon=gmail
Terminal=false
Categories=Productivity
